@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.contentAsig {
  background: #620ce8;
}

.tituloAsig {
  font-family: "Fredoka One";
  color: #e8910c;
  font-size: 50pt;
}

.parrAsig,
.parrafoD {
  font-family: "Roboto Condensed", sans-serif;
  color: #e1ff00;
  font-size: 20px;
  text-align: justify;
}

.tituloAsig2 {
  font-family: "Press Start 2P", cursive;
  color: #e8910c;
  font-size: 30pt;
}

.btnShare {
  font-family: "Press Start 2P", cursive;
}

.btnPublicar {
  font-family: "Press Start 2P", cursive;
}

.tituloComent {
  font-family: "Press Start 2P", cursive;
  color: #e8910c;
  font-size: 30pt;
  padding-top: 20px;
  padding-bottom: 20px;
}

.NameUser {
  font-family: "Roboto Condensed", sans-serif;
  color: #e1ff00;
  font-size: 25px;
  padding-left: 100px;
}

.comentario {
  font-family: "Roboto Condensed", sans-serif;
  color: #e1ff00;
  font-size: 15px;
  padding-left: 150px;
}

button:active {
  transform: scale(0.95);
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/*.popUp {
  position: absolute;
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
}*/

.imgPop img {
  width: 800px;
}

.info h4 {
  padding-left: 10px;
}

.info p {
  padding-left: 50px;
}

.botonesinfo{
  position: relative;
  left: 85%;
}

.btnExit {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-family: "Fredoka One";
}

@media (max-width: 640px) {
  /* Los estilos aquí contenidos solo se aplicarán a partir
  del tamaño de pantalla indicado */
  .tituloAsig {
    font-family: "Fredoka One";
    color: #e8910c;
    font-size: 30pt;
  }

  .parrAsig,
  .parrafoD {
    font-family: "Roboto Condensed", sans-serif;
    color: #e1ff00;
    font-size: 15pt;
  }

  .tituloAsig2 {
    font-family: "Press Start 2P", cursive;
    color: #e8910c;
    font-size: 20pt;
  }
  .tituloComent {
    font-family: "Press Start 2P", cursive;
    color: #e8910c;
    font-size: 15pt;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .NameUser {
    font-family: "Roboto Condensed", sans-serif;
    color: #e1ff00;
    font-size: 10pt;
    padding-left: 40px;
  }

  .comentario {
    font-family: "Roboto Condensed", sans-serif;
    color: #e1ff00;
    font-size: 10pt;
    padding-left: 60px;
    padding-right: 30px;
  }

  /* image grid styles */
  .img-grid {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .imgPop img {
    width: 500px;
  }
}
