@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*
{
    margin: 0;
    padding: 0;
}

.Admins
{
    background-color: #620CE8;
    height: 100vh;
    overflow-x: hidden; 
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;

}
.table
{
    color:#E1FF00;
}

.btn-primary
{
    background-color:#E1FF00;
    color: #620CE8;
}

.btn-secondary
{
    background-color:#0DBFFF;
    color: #620CE8;
}